/*
 * class = bookmarks (a section contaning divs)
 *         links (ul in bookmarks)
 *         bookmark-links (a in ul.links)
 *         bookmark-links-small (a in ul.links)
 */

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 15px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 25px 10px;
}

footer {
    margin: 10px;
}


/*
 * main flex layout
 *
 * .main-page
 *    bookmarks
 *       links drop
 *          bookmark-links-small
 *       links side
 *          bookmark-links-big
 */

.main-page {
    padding: 0 0 0 10px;
}

.bookmark-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0 40px 25px;
}

.bookmarks {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
}

/* each link div */
.links {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

.drop {
    display: none;
}

img {
    margin: 0 0 0 10px;
    width: 700px;
    float: left;
}


/*
 * typography
 *
 * TYPOGRAPHY
 *******************************/

header .time-of-day {
    font-size: 2em;
    margin: 0 15px 0 0;

}

.header-nav ul {
    list-style-type: none;
    font-size: 18px;
}

header a {
    text-decoration: none;
    color: white;
}

.home-link a {
    margin: 0;
}


h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 3em;
    margin: 0;
}

h3 {
    font-size: 2em;
    margin: 0;
}

/* link style
 *******************************/
.links ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

.links a {
    color: grey;
    text-decoration: none;
    font-size: 2em;
}

.links a:hover {
    color: white;
}

/* button
 *******************************/
.invert-color {
    height: 40px;
    width: 80px;
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}

/* override
 *******************************/
.bookmark-links-small a {
    font-size: 1em;
}

#reddit-h3 {
    margin-top: 10px;
}
